// Profile config names for nf-core/configs

params {
  // Specific nf-core/configs params
  config_profile_contact = 'Aida Andrades Valtuena (@aidaanva)'
  config_profile_description = 'nf-core/eager EVA profile provided by nf-core/configs, including retry 140, lnba_plague'
}

// Specific nf-core/eager process configuration
process {
  errorStrategy = { task.exitStatus in [143,137,104,134,139, 140] ? 'retry' : 'finish' }
  maxRetries = 2
}

profiles {
  damage_data {
    params {
      config_profile_description = 'Pathogen (loose) MPI-EVA profile, provided by nf-core/configs.'
      run_bam_filtering = 'true'
      bam_unmapped_type = 'discard'
      bam_mapping_quality_threshold = 37
      dedupper = 'markduplicates'
    }
  }
  damage_removed_genotyping {
    params {
      config_profile_description = 'Pathogen (strict) MPI-EVA SDAG profile, provided by nf-core/configs.'
      skip_adapterremoval = 'true'
      run_bam_filtering = 'true'
      bam_unmapped_type = 'discard'
      bam_mapping_quality_threshold = 37
      dedupper = 'markduplicates'
      run_genotyping = 'true'
      genotyping_tool = 'ug'
      gatk_ug_out_mode = 'EMIT_ALL_SITES'
      gatk_ug_keep_realign_bam = 'true'
     }
  }
  damage_nomapq {
    params {
      config_profile_description = 'Procesing data without filetring for mapping quality'
      run_bam_filtering = 'true'
      bam_unmapped_type = 'discard'
      bam_mapping_quality_threshold = 0
      dedupper = 'markduplicates'
    }
  }
  damage_removed_nomapq {
    params {
      skip_adapterremoval = 'true'
      run_bam_filtering = 'true'
      bam_unmapped_type = 'discard'
      bam_mapping_quality_threshold = 0
      dedupper = 'markduplicates'
    }
  }
  sslib_genotyping {
    params {
      config_profile_description = 'Pathogen (loose) MPI-EVA profile, provided by nf-core/configs.'
      run_bam_filtering = 'true'
      bam_unmapped_type = 'discard'
      bam_mapping_quality_threshold = 37
      dedupper = 'markduplicates'
      run_genotyping = 'true'
      genotyping_tool = 'ug'
      gatk_ug_out_mode = 'EMIT_ALL_SITES'
      gatk_ug_keep_realign_bam = 'true'
    }
  }
}
